.skill_section {
    margin-top: 0;
}

.experience-title {
    color: white;
    display: flex;
    justify-items: flex-start;
    margin-left: 20px;

    /* margin-top: 10px; */
}

.skills-set {
    display: grid;
    place-content: center;
    grid-gap: 3rem;

}

.skills {
    margin-top: 20px;
    width: 400px;
    gap: 2rem;
}













@media screen and (max-width: 830px) {
    .experience-title {
        color: white;
        float: left;
        margin-top: 50px;
    }

    .skills-set {
        display: grid;
        place-items: center;
        grid-gap: 3rem;

    }

    .skills {
        margin-top: 60px;
        width: 300px;
        gap: 2rem;

    }
}