/* css variables */
:root {
    /* colors */
    --color-text: white !important;
    --color-primary: #567cbc;
    --color-secoundary: #19376d;
    --color-dark: #132c4e;
    --color-bg: #243b5f;

    --fonts-robot:
}